<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{list?.name}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{list?.name}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <a *ngFor="let todo of list?.getTodos(); let i = index">
        <ion-item-sliding>
          <ion-item>
            <ion-label>{{todo?.getName()}}</ion-label>
          </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="removeTodo(todo)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </a>
    </ion-list>
    <ion-button expand="block" color="primary" (click)="openCreateTodoModal()">Create Todo</ion-button>
  </div>
</ion-content>
