<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="shareTodo()"><ion-icon name="share-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Todo Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <ion-text>
    <h2>
      <ion-checkbox [ngModel]="(todo|async).isDone" (ionChange)="checkboxChange($event)"></ion-checkbox> {{(todo|async)?.name}}
    </h2>
  </ion-text>
  <ion-text>
    <p>
      {{(todo|async)?.description}}
    </p>    
  </ion-text>
</ion-content>
